/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(217, 75%, 80%);
  --body-color: hsl(211, 100%, 95%);

  /*========== Font and typography ==========*/
  --body-font: 'Montserrat Alternates', sans-serif;
  --normal-font-size: 1.25rem;
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a{
  text-decoration: none;
}
.button{
  position: relative;
  background-color: var(--first-color);
  color: #ffffff;
  padding: 0.8rem 0.2rem;
  border-radius: 3rem;
  transition: .4s;
}

.button::after{
  content: "";
  width: 80%;
  height: 40%;
  background: linear-gradient(80deg,
               hsl(217,80%,80%) 10%,
               hsl(217,85%,70%) 48%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0 auto;
  border-radius: 3rem;
  filter: blur(12px);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s;
}

.button__text{
  position: relative;
  z-index: 10;
  left: 60px;
  font-size: 30px;
}

.button__img{
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: .6s;
  opacity: 0;
}
.button__cone{
  width: 20px;
  transform: translate(-45px, -6px) rotate(55deg);
  filter: blur(.5px);
}
.button__torus{
  width: 38px;
  transform: translate(7px, -14px) rotate(80deg);
  filter: blur(.5px);
}
.button__icosahedron{
  width: 36px;
  transform: translate(34px, -4px) rotate(-45deg);
  filter: blur(.9px);
}
.button__sphere{
  width: 32px;
  transform: translate(-35px, 20px) rotate(40deg);
  filter: blur(.5px);
}


/*=============== MAGIC BUTTON ===============*/



/* Move 3D geometric elements */


/* View shadow gradient */
.button:hover::after{
  opacity: 1;
}

/* Button scale */

.button:hover{
  transform: scale(1.3);
}
.button:hover img{
  opacity: 1;
}
.button:hover .button__cone{
  transform: translate(-38px, -10px) scale(1.2);
}
.button:hover .button__torus{
  transform: translate(7px, -32px) scale(1.1);
}
.button:hover .button__icosahedron{
  transform: translate(50px, -20px) scale(1.1);
}
.button:hover .button__sphere{
  transform: translate(-14px, 20px) scale(1.1);
}

/* View 3D geometric elements */
